/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
/* common button */
.btn {
    background-color: #0061ff;
    color: white;
    padding: 7px 10px;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    margin-bottom: 100px;
}
header img {
    padding: 0 20px;
    width: 180px;
}
header ul {
    width: 450px;
}
header ul li {
    width: 160px;
}
.padding-l {
    padding-left: 20px;
}
.width {
    width: 80px;
}
.width-2 {
    width: 340px;
    padding: 0 10px;
}

/* JUMBO */
.jumbo {
    padding-top: 70px;
    width: 97%;
    padding: 90px;
}
.jumbo-bck {
    background-color: #b4d0e7;
}
h1 {
    font-size: 95px;
    padding-top: 50px;
}
.jumbo-text {
    width: 90%;
}
.jumbo-text p {
    line-height: 25px;
    padding-top: 30px;
    width: 270px;
    padding-bottom: 25px;
}
.padding-top {
    padding: 25px 0;
}
.arrow {
    font-size: 60px;
    padding-bottom: 50px;
}
.jumbo-img {
    width: 850px;
    position: absolute;
    bottom: -60px;
    right: 450px;
}
.position-r {
    position: relative;
}
/* FINE JUMBO */

/* MAIN SECTION */
.container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.padding-top-main {
    padding-top: 100px;

}
.circle {
    border: solid blue 3px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.no-blue {
    border: solid lightgray 0.5px;
}

/* COLONNE */

.container-no {
    display: flex;
    justify-content: center;
}
.container-2 {
    width: 1400px;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
}
.col {
    width: 100%;
    margin: 0 50px;
}
.col div {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    border: solid lightgray 1px;
}
.col div.sx-text {
    text-align: left;
    padding: 15px 15px;
}
.sx-text h4 {
    padding: 15px 0;
}
.bold {
    font-weight: 600;
}
.grey {
    color: gray;
    padding: 15px 0;
    padding-bottom: 40px;
}
.padding-2 {
    padding: 25px 0;
}
.center {
    margin-left: 60px;
}
.acquista-ora {
    margin: 25px 0;
    color: blue;
    text-decoration: underline;
}
.hr-width {
    width: 50px;
}
.padding-bottom-2 {
    padding-bottom: 92px;
}