/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */

body {
    font-family: sans-serif;
}
.width-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.border-full {
    border: solid lightgray 1px;
}
.flex {
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
}
.flex-container {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.blue {
    color: blue;
}
.container70 {
    width: 95.5%;
    margin: 0 auto;
}
/* common button */
.btn {
    background-color: #0061ff;
    color: white;
    padding: 7px 10px;
}
.big-btn {
    padding: 10px 15px;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    margin-bottom: 100px;
    z-index: 99;
}
header img {
    padding: 0 20px;
    width: 180px;
}
su
header ul {
    width: 450px;
}
header ul li {
    width: 160px;
    padding: 27px 0;
}
header ul li:hover {
    border-bottom: solid black 2px;
}
.padding-l {
    padding-left: 20px;
}
.width {
    width: 80px;
}
.width-2 {
    width: 220px;
}

/* JUMBO */
.jumbo-bck {
    background-color: #b4d0e7;
}
h1 {
    font-size: 95px;
    padding-top: 80px;
}
.jumbo-text {
    width: 85%;
}
.jumbo-text p {
    line-height: 25px;
    padding-top: 30px;
    width: 270px;
    padding-bottom: 25px;
}
.padding-top {
    padding: 25px 0;
}
.arrow {
    font-size: 60px;
    padding-bottom: 50px;
}
.jumbo-img {
    width: calc((100% / 2) + 50px);
    position: absolute;
    bottom: -60px;
    right: 0;
}
.position-r {
    position: relative;
}
/* FINE JUMBO */

/* MAIN SECTION */
.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}
.padding-top-main {
    padding-top: 100px;
    padding-bottom: 50px;
}
.padding-top-main h2 {
    font-size: 35px;
    padding-bottom: 35px;
}
.circle {
    border: solid blue 3px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 25px;
}
.no-blue {
    border: solid lightgray 0.5px;
    margin-left: 15px;
}

/* COLONNE */

.container-no {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin: 0 auto;
}
.container-2 {
    display: flex;
    justify-content: space-evenly;
}
.col {
    width: 100%;
    margin: 30px;
}
.col div {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    border: solid lightgray 1px;
}
.col div.sx-text {
    text-align: left;
    padding: 15px 15px;
}
.sx-text h4 {
    padding: 15px 0;
    font-size: 25px;
}
.bold {
    font-weight: 600;
}
.grey {
    color: gray;
    padding: 15px 0;
    padding-bottom: 40px;
}
.padding-2 {
    padding: 25px 0;
}
.center {
    margin-left: 60px;
}
.acquista-ora {
    margin: 25px 0;
    color: blue;
    text-decoration: underline;
}
.hr-width {
    width: 50px;
}
.padding-bottom-2 {
    padding-bottom: 92px;
}
.border {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: solid lightgray 1px;
}

.flex-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid lightgray 1px;
}
.text-left {
    text-align: left;
    padding: 25px;
}
.position-ab {
    position: absolute;
    width: 350px;
    text-align: center;
    top: 35px;
    right: 100px;
}
.width-container h4 {
    font-size: 40px;
}
.margintop {
    margin-top: 100px;
    align-items: center;
}
.img-width {
    width: 600px;
}
.marginl {
    margin-left: 35px;
}
.marginl h3 {
    font-size: 50px;
    margin-bottom: 25px;
}
.marginl p {
    line-height: 35px;
}
.new-btn {
    border: solid grey 1px;
    padding: 15px;
    background-color: white;
}
/* DROPBOX BUSINESS 6 col */
.flex-center {
    justify-content: center;
    display: flex;
}
.size {
    font-size: 50px;
    padding: 80px 0;
}
.flex-col-2 {
    padding: 20px 30px;
    width: calc((69% / 3) + 80px)
}
.container-col-2 {
    margin: 0 180px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.flex-col-2 h3 {
    font-size: 25px;
}
.flex-col-2 p {
    padding-top: 25px;
    padding-bottom: 80px;
}
p span {
    text-decoration: underline;
}
/* PARTNER SECTION */
.partners-titolo {
    font-size: 40px;
    margin-bottom: 25px;
}
.link-partner a {
    text-decoration: underline;
    color: blue;
}
.column-partners {
    flex-direction: column;
}

/* COLONNE PARTNER */
.col-loghi {
    display: flex;
    width: 100%;
    margin-top: 45px;
}
.colonna-loghi {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}
.col-centro {
    flex-direction: column;
    background-color: whitesmoke;
    padding: 55px;
}
.partner-hr {
    width: 10%;
    padding-top: 60px;
    padding-bottom: 110px;
}

/* QUADRATI PARTNER */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: calc(100% / 2);
}
/* colori quadrati partner */
.green-sq {
    background-color: #a2d39b;
    border: solid #d0e9cd 15px;
}
.purple {
    background-color: #61082b;
}
.blue-sq {
    background-color: #0093ce;
}
.red {
    background-color: red;
}
.red-2 {
    background-color: #d5061f;
}
.light-b {
    background-color: #b4d0e7;
}
.blue-strong {
    background-color: #0d2481;
}
.yellow {
    background-color: #ffd831;
}
/* fine colori */

/* loghi partner img */
.square img {
    filter: invert(1);
    width: 50%;
}
.designit {
    width: 150px;
}

/* paragrafo */
.col-centro p:last-child {
    padding-top: 90px;
}

/* porta dropbox in azienda */
.porta-dropbox {
    background-color: #b4d0e7;
}
.flex-space {
    width: 66%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 150px 0;
}
.btn-white {
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
.flex-space h2 {
    font-size: 50px;
    color: #61082b;
}
/* FINE SECTION PARTNER */

/* INIZIO FAQ */
.faq-titolo {
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 30px;
}
.container-faq {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 100px;
}
.faq {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    border-top: solid lightgrey 1px;
}
.last {
    border-bottom: solid lightgray 1px;
}
.flex-faq {
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    height: 450px;
}
.flex-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}
.title-ul {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 25px;
}
footer ul li {
    padding: 5px 0;
}
footer li:last-child {
    padding-bottom: 100px;
}
footer hr {
    width: 100px;
    margin-left: 190px;
    margin-bottom: 80px;
}
.footer-pos {
    position: relative;
}
.footer-pos-abs {
    position: absolute;
    left: 190px;
    bottom: 25px;
    color: grey;
}



/* NEW FIX */
.container-new {
    width: 80%;
    margin: 0 auto;
}
.main-container-new {
    width: 70%;
    margin: 0 auto;
}
.container-nuovo {
    width: 67%;
    margin: 0 auto;
}
.container-new-faq {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* BONUS */
.bonus-s {
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    min-height: 90px;
    padding: 15px 0;
    z-index: 1;
}
.bonus-s:hover .dropdown {
    display: block;
}
.dropdown a {
    padding: 15px;
}
.no-hover:hover {
    border: none;
}